<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
     <add name="quanlycuahangbanquanao" connectionString="Data Source=LAPTOP-KUL5EM0N;Initial Catalog=BTL_HSK;Integrated Security=True"
         providerName="System.Data.SqlClient" />
     <add name="baitaplonquanlycuahangbanquanao.Properties.Settings.BTL_HSKConnectionString"
         connectionString="Data Source=DESKTOP-N0GLJ1N\DAT;Initial Catalog=BTL_HSK;Integrated Security=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>